#忽略的文件类型
*.*
.*

#忽略的文件夹
llvm-project/
tvm-017/
triton/

#不忽略的文件类型
!CMakeLists.txt
!*.py
!*.c
!*.cc
!*.cpp
!*.h
!.gitignore
!*.bashrc
!*.md
!*.sh

#不忽略的文件夹
!doc/**
!source-code/**
!compiler-backend/**


